* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  background: #fad8ce;
  background: linear-gradient(180deg, #fad8ce 27%, white 75%);
  justify-content: space-between;
  align-items: center; }
  .header__item {
    font-size: 1.3rem;
    display: inline; }
  .header__anchor {
    padding: 0.7rem;
    display: inline-block; }
  .header__list {
    display: flex;
    justify-content: flex-end; }
  .header__logo {
    height: 150px;
    padding-left: 1rem; }

.main {
  display: flex;
  justify-content: space-around; }
  .main__tutilotexto {
    width: 60%;
    font-size: 3rem;
    text-align: center;
    font-family: revert;
    text-transform: uppercase;
    text-shadow: -4px -4px 0 pink;
    align-self: center; }
  .main__titulopre {
    width: 300px; }
  .main__sectiontitulo {
    width: 100%;
    font-size: 2rem;
    background-color: pink;
    text-align: center; }
  .main__sectioncontenedor {
    display: flex;
    flex-direction: column; }
  .main__sectionalineacion {
    display: flex;
    justify-content: space-evenly;
    /* gap: 20px; */
    align-items: center; }
  .main__sectionparrafo {
    width: 40%;
    font-size: 2rem;
    text-align: center; }
  .main__recetascontenedor {
    display: flex;
    flex-direction: column;
    padding-left: 1rem; }
  .main__recetasalineacion {
    display: flex;
    gap: 50px; }
  .main__videocontenedor {
    width: 50%;
    margin: auto;
    padding: 2rem; }
  .main__video {
    height: 0px;
    padding-bottom: 56.25%;
    position: relative; }
  .main__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .main__recetasparrafo {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 50%;
    justify-content: center; }
  .main__sectionadopcontenedor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; }
  .main__sectionadop {
    display: flex;
    gap: 20px; }
  .main__adop-img {
    width: 80%; }
  .main__sectionpreguntas {
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem; }

.section {
  display: flex;
  gap: 20px; }
  .section__img {
    width: 100%; }
  .section__parrafodecrip {
    font-size: 3rem;
    text-align: center;
    font-family: revert;
    text-transform: uppercase;
    text-shadow: -4px -4px 0 pink; }

.footer {
  background: #fad8ce;
  background: linear-gradient(0deg, #fad8ce 27%, white 75%);
  display: flex;
  padding: 2rem;
  gap: 50px; }
  .footer__img {
    width: 50px;
    height: 50px; }
  .footer__h4 {
    font-size: 2rem; }
  .footer__redes {
    display: flex;
    justify-content: center; }
  .footer__suscripciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem; }
  .footer__organizador {
    flex-basis: 100%;
    text-align: center; }
  .footer__wrp {
    width: 80%;
    font-size: 1.3rem; }
  .footer__boton {
    color: #fad8ce;
    background-color: black;
    width: 80%;
    font-size: 1.3rem; }
